<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>88</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
<div class="body">
  <div class="container">
    <nav class="navbar navbar-expand-md">

      <div class="container">
        <a class="navbar-brand text-uppercase fw-bold" href="#">
 <img src="/static/image/logo.png" class="img-responsive" width="100%">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-end">

            <li class="nav-item active">
              <a href="" class="nav-link">Accueil</a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link">Nos Prix</a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link">Notre equipe</a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link">Section des enfants</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero"></div>
  
 <div class="container">
   <div class="row">
     <div class="col-12 col-md-1">
    
       <h1></h1>
    </div>
  </div>
    </div>
  </div>
  

     
     
 <img src="/static/image/bann.png" class="img-responsive" width="100%">
</div>
      
  <div class="container">
   <div class="row">
     <div class="col-12 col-md-1">
    
       <h1></h1>
    </div>
  </div>
    </div>
  </div>
  
  <div class="container" > <h2>la philosophie de l'entreprise</h2>
    <div class="row"> 

     
     <div class= "col-12 col-md-6">
 <img src="/static/image/singe.jpg" class="img-responsive" width="100%">
</div>
      
<div class= "col-12 col-md-6">
     <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit ducimus corrupti earum asperiores maxime, eos,
        veniam ad est deserunt, iusto modi! Natus omnis reprehenderit eveniet remA
    </div>
  </div>
</div>
</div>
  <hr>
<div class="formule">

  
    
  <div class="container">
  <h2 class="mb-4">formule</h2>
    <div class="row">
    <div class="card col-12 col-md-4">
    <img src="/static/image/bam.jpg">
    <div class="card-body">
      <h5 class="card-title">bagarre</h5>
      <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste explicabo culpa, tenetur
        facilis ut odio beatae et? Id repellat officiis dicta optio hic, sed doloribus odio facilis aut officia esse!
      </p>
      <a href="" class="btn btn-primary">C'est par ici</a>
    </div>
    </div>


      <div class="card col-12 col-md-4">
    <img src="/static/image/danse.jpg">
    <div class="card-body">
      <h5 class="card-title">danse</h5>
      <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste explicabo culpa, tenetur
        facilis ut odio beatae et? Id repellat officiis dicta optio hic, sed doloribus odio facilis aut officia esse!
      </p>
      <a href="" class="btn btn-primary">C'est par ici</a>
    </div>
    </div>

    <div class="card col-12 col-md-4">
    <img src="/static/image/mix.png">
    <div class="card-body">
      <h5 class="card-title">danse&bagarre</h5>
      <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste explicabo culpa, tenetur
        facilis ut odio beatae et? Id repellat officiis dicta optio hic, sed doloribus odio facilis aut officia esse!
      </p>
      <a href="" class="btn btn-primary">C'est par ici</a>
    </div>
    </div>
    </div>
</div>
    </div>
</div>
</div>
</div>
  <div><iframe width="560" height="315" src="https://www.youtube.com/embed/JnZHLmbg4io" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <script src="script.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
</body>

</html>